@page
@model ResendEmailConfirmationModel

<!-- Banner Section -->
<div class="hero-banner text-center text-white">
    <img src="~/img/bernd-dittrich-PSB6bGW-r7k-unsplash.jpg"
         alt="Monitor setup"
         class="hero-image" asp-append-version="true" />

    <!-- Text Overlay -->
    <div class="hero-text">
        <h1 class="display-3 fw-bold">Resend Email Confirmation</h1>
    </div>
</div>

<!-- Photographer Credit -->
<div class="text-end small mt-2 me-3">
    Photo by <a href="https://unsplash.com/@@radowanrehan" target="_blank">Radowan Nakif Rehan</a> on
    <a href="https://unsplash.com/photos/black-flat-screen-computer-monitor-cYyqhdbJ9TI" target="_blank">Unsplash</a>
</div>

<div class="container mt-5 pt-5">
    <hr style="border-top: 4px solid #708090;" />
    @{
        ViewData["Title"] = "Resend email confirmation";
    }
    <h1 class="text-center">@ViewData["Title"]</h1>
    <hr style="border-top: 4px solid #708090;" />
    
    
    <h3 class="text-center">Please enter your email below</h3>
    <hr />
    <div class="d-flex justify-content-center align-items-center mt-2 pt-2" style="min-height: 20vh;">
        <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Resend</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

</div>
